body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #414A69;
}

* {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.d-flex-center {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.page {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #D4D4D4;
}

::-webkit-scrollbar-thumb {
  background: #898989;
}

.fixed-menu {
  position: fixed;
  right: 20px;
  top: 140px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    top: 100px;
  }

  img {
    width: 30px;
    margin-bottom: 10px;
  }
}
