.homepage {
  padding-top: 80px;

  h1 {
    color: white;
    margin-bottom: 40px;
    text-align: center;
  }

  .banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #101535;
    padding: 70px 20px 30px;

    @media (min-width: 768px) {
      padding: 113px 20px 60px;
    }

    .banner-info {
      display: flex;
      flex-direction: column;
      max-width: 416px;
      width: 100%;
      margin-bottom: 10px;
    }

    .info-row {
      display: flex;
      justify-content: space-between;

      .info-lead {
        margin-bottom: 0;
        color: white;
      }
    }
    .logoContainer {
      display: flex;
      justify-content: space-evenly;
      background-color: red;
    }

    .banner-card {
      max-width: 416px;
      width: 100%;
      padding: 20px;
      background: #1b1d4f;
      border: 1px solid #1d2070;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .card-title {
        color: white;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 18px;
      }

      .card-lead {
        color: white;
        margin-bottom: 0;
      }

      .btn-card-info {
        outline: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 36px;
        border: 1px solid #04fc9c;
        color: #04fc9c;
        background: transparent;
        border-radius: 8px;
        margin-top: 15px;
      }
    }

    .tree-window {
      background: transparent;
      border: 1px solid white;
      border-radius: 12px;
      padding: 10px 18px;
      width: 100%;
      margin-bottom: 18px;
      display: flex;
      justify-content: space-between;

      .tree-image {
        order: -1;
        margin-bottom: 20px;

        @media (min-width: 768px) {
          order: unset;
          margin-bottom: 0;
        }

        img {
          width: 50%;

          @media (min-width: 768px) {
            width: 90%;
          }
        }
      }
    }

    .window-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }

      input {
        width: 100%;
        height: 38px;
        padding: 5px;
        color: #898989;
        border-radius: 4px;
        border: none !important;
        outline: none !important;
        box-shadow: unset !important;
        margin-bottom: 10px;

        @media (min-width: 768px) {
          width: 90%;
          height: 30px;
        }
      }

      button {
        width: 100%;
        height: 38px;
        outline: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        &.btn-deposit {
          background: transparent;
          border: 1px solid #04fc9c;
          color: #04fc9c;
        }

        &.btn-withdraw {
          background: #04fc9c;
          border: none;
          color: white;
        }
      }
    }

    .banner-sub-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 8px;

      .info-lead {
        text-transform: uppercase;
        color: white;
        margin-bottom: 0;
      }

      .info-list {
        color: #04fc9c;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 15px;
      }
    }
  }

  .keep-date {
    background: linear-gradient(#101535, #101535);

    h2 {
      text-align: center;
      color: white;
      margin-bottom: 20px;

      @media (min-width: 768px) {
        margin-bottom: 120px;
      }
    }

    .keep-lead {
      color: white;
      max-width: 630px;
      margin: 0 auto 73px;
      text-align: center;
    }

    .keep-date-bg {
      padding-top: 30px;
      padding-bottom: 30px;

      @media (min-width: 768px) {
        padding-top: 140px;
        padding-bottom: 145px;
      }
    }

    .social-link {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }

      img {
        width: 98px;
      }
    }
  }
}
